.env 
data_warehouse 
duck_lake_models/dbt_packages 
duck_lake_models/logs 
duck_lake_models/target 
duck_lake_models/.user.yml 
duck_lake_models/profiles.yml
__pycache__
.python-version 
duck_lake.egg-info